
#footer-links {
    background-image: url('../assets/img/footer-bg.jpg');
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-cols {
    display: flex;
    justify-content: space-between;
    img {
    position: relative;
    bottom: 2rem;
    }
}

.footer-lists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    margin-top: 5rem;
    ul {
        list-style-type: none;
        li a {
        text-decoration: none;
        color: grey;
        }
    }
}

#sign-and-follow {
    height: 5rem;
    background-color: #303030;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    .sign-up {
    background-color: #303030;
    color: white;
    border: 2px solid $main-color;
    padding: 0.8rem;
    }
}

#sign-and-follow-cols {
    display: flex;
    justify-content: space-between;
        .socials {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        * {
            margin-left: 1rem;
        }
        h2 {
            color: #0282F9;
        }
    }
}