#jumbotron {
    background-image: url(../assets/img/jumbotron.jpg);
    height: 25rem;
}
#current-series{
    color: #fff;
    padding: 1rem;
    background-color: $main-color;
    display: inline-block;
    position: relative;
    bottom: 1.5rem;
}
.card-box{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    margin: 0 2rem;
    img {
        object-fit: cover;
        object-position: top;
        height: 10rem;
        width: 10rem;
    }
    div {
        color: #fff;
        text-transform: uppercase;
        max-width: 10rem;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
}
.load-more{
    display: flex;
    justify-content: center;
    button {
        background-color: $main-color;
        border: 0;
        color: #fff;
        padding: 1rem 2rem;
        margin: 2rem;
    }
}
#content {
    background-color: #000;
}
#services-section {
    background-color: $main-color;
}
.services {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-right: 1rem;
        height: 3rem;
    }
    h1 {
        font-size: 1rem;
    }
}

.container > h1 {
    color: #fff;
    line-height: 8rem;
}