* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}
#header-navbar img {
  width: 5rem;
}

ul {
  display: flex;
  list-style-type: none;
}
ul li {
  padding: 0 0.8rem;
}
ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
}

#jumbotron {
  background-image: url(../assets/img/jumbotron.jpg);
  height: 25rem;
}

#current-series {
  color: #fff;
  padding: 1rem;
  background-color: #0282F9;
  display: inline-block;
  position: relative;
  bottom: 1.5rem;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 2rem;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 10rem;
  width: 10rem;
}
.card div {
  color: #fff;
  text-transform: uppercase;
  max-width: 10rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.load-more {
  display: flex;
  justify-content: center;
}
.load-more button {
  background-color: #0282F9;
  border: 0;
  color: #fff;
  padding: 1rem 2rem;
  margin: 2rem;
}

#content {
  background-color: #000;
}

#services-section {
  background-color: #0282F9;
}

.services {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service img {
  margin-right: 1rem;
  height: 3rem;
}
.service h1 {
  font-size: 1rem;
}

.container > h1 {
  color: #fff;
  line-height: 8rem;
}

#footer-links {
  background-image: url("../assets/img/footer-bg.jpg");
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-cols {
  display: flex;
  justify-content: space-between;
}
.footer-cols img {
  position: relative;
  bottom: 2rem;
}

.footer-lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  margin-top: 5rem;
}
.footer-lists ul {
  list-style-type: none;
}
.footer-lists ul li a {
  text-decoration: none;
  color: grey;
}

#sign-and-follow {
  height: 5rem;
  background-color: #303030;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
#sign-and-follow .sign-up {
  background-color: #303030;
  color: white;
  border: 2px solid #0282F9;
  padding: 0.8rem;
}

#sign-and-follow-cols {
  display: flex;
  justify-content: space-between;
}
#sign-and-follow-cols .socials {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
#sign-and-follow-cols .socials * {
  margin-left: 1rem;
}
#sign-and-follow-cols .socials h2 {
  color: #0282F9;
}